@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 50 100% 95.29%;
      --foreground: 76.67 50% 92.94%;
      --pink: 5.85 100% 91.96%;
      --typography: 210.51 100% 11.57%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 111.43 37.63% 81.76%;
      --primary-foreground: 210 40% 98%;

      --secondary: 147.46 100% 11.57%;
      --secondary-foreground: 111.43 37.63% 81.76%;

      --muted: 147.46 100% 11.57%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 323.3 52.82% 61.76%;
      --accent-foreground: 111.43 37.63% 81.76%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(125,133,75);
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255,251,231);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(255,251,231);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(109, 118, 125, 0.5);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(109, 118, 125, 0.3);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer {
  display: none;
}